<!DOCTYPE html>
<!--
Mikko Partanen
Version 1.0
30.1.2018
-->
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Content/style.css">
    <title>Veikkausliigan Ottelut</title>
</head>
<body>
    @RenderBody()

</body>
</html> 